// Add your custom CSS here.
.minicart__btn-checkout, .cart__btn-checkout {
    display: none;
}
.payment__gateway:after {
    content: 'Clique aqui pra finalizar';
    color: var(--success)
}
.payment__gateway--108091 + a + a + .payment__method .payment__text {
  display: none
}
