// Add your custom CSS here.
.minicart__btn-checkout, .cart__btn-checkout {
    display: none;
}
.payment__gateway--108091 + a + a + .payment__method .payment__text, .payment__method .payment__text .pix-qt  {
  display: none
}

.pix-qt img {
  max-width: 100%;
}

.pix-qt:after {
  content: 'e realizar o pagamento com o valor do pedido no app do seu banco. Ele será identificado e a compensação do seu pedido realizada.'
}

.product-querotudonatural-card__stamps {
  img {
    width: 100%;
  }
}

.order-info__payment-notes .international-payment:after {
  content: "Hi! \a Here are bank details to transfer to Conta Global \a (global account) at C6 Bank. C6 Bank details: \a Account holder: QUIERO TODO NATURAL \a Account number: 1008110097 \a Bank: BANCO C6 S.A. CAYMAN BRANCH \a Swift: CSIXKYKY \a Country: Cayman Islands \a Currency: Euro \a Intermediary bank details: \a Bank: JP Morgan SE, Frankfurt AM MAIN \a Swift: CHASDEFX \a\a Thank you!";
  white-space: pre
}
